### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [74]:
total_player = len(purchase_data_df["SN"].unique())
print("Total number of players: " + str(total_player))

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
summary_table_df = pd.DataFrame({
    "Number of Unique Items": [len(purchase_data_df["Item Name"].unique())],
    "Average Price": [purchase_data_df["Price"].mean()],
    "Number of Purchases": [len(purchase_data_df["Purchase ID"].unique())],
    "f'Total Revenue": [purchase_data_df["Price"].sum()]
})
summary_table_df

   Number of Unique Items  Average Price  Number of Purchases  f'Total Revenue
0                     179       3.050987                  780          2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [76]:
unique_sn_df = purchase_data_df.drop_duplicates(subset='SN', keep="first")
unique_sn_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [77]:
gender_count = unique_sn_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [78]:
gender_percentages = (unique_sn_df["Gender"].value_counts())/len(unique_sn_df)
gender_percentages

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [79]:
gender_summary_df = pd.DataFrame({
    "Total counts": gender_count,
    "Percentage of Players": gender_percentages})
gender_summary_df

                       Total counts  Percentage of Players
Male                            484               0.840278
Female                           81               0.140625
Other / Non-Disclosed            11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
grouped_gender_df = purchase_data_df.groupby(['Gender'])
grouped_gender_df

In [81]:
transactions_by_gender_df = grouped_gender_df['SN'].count()
transactions_by_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [82]:
total_pur_price = grouped_gender_df['Price'].sum()
total_pur_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [83]:
avg_pur_price = total_pur_price / transactions_by_gender_df
avg_pur_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [84]:
avg_tot_per_person = total_pur_price / gender_count
avg_tot_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [85]:
summary_by_gender_df = pd.DataFrame({
    "Purchase Count": transactions_by_gender_df,
    "Average Purchase Price": avg_pur_price,
    "Total Purchase Value": total_pur_price,
    "Avg Total Purchase per Person": avg_tot_per_person
})
summary_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [86]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

In [87]:
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [88]:
pd.cut(unique_sn_df["Age"], bins, labels=group_names, include_lowest=True)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [89]:
unique_sn_df["Age Groups"] = pd.cut(unique_sn_df["Age"], bins, labels=group_names, include_lowest=True)
unique_sn_df.head()

/Users/alfonsocamero/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [90]:
by_age_df = unique_sn_df.groupby("Age Groups")
by_age_df

In [91]:
by_age_df["Age"].count()

Age Groups
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [92]:
percent_by_age_df = by_age_df["Age"].count() / len(unique_sn_df)
percent_by_age_df

Age Groups
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age, dtype: float64

In [93]:
age_demographics = pd.DataFrame({
    "Total Count": by_age_df["Age"].count(),
    "Percentage of Players": percent_by_age_df
})
age_demographics

            Total Count  Percentage of Players
Age Groups
<10                  17               0.029514
10-14                22               0.038194
15-19               107               0.185764
20-24               258               0.447917
25-29                77               0.133681
30-34                52               0.090278
35-39                31               0.053819
40+                  12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [95]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [96]:
purchase_byage_df = purchase_data_df.groupby("Age Group")
purchase_byage_df

In [105]:
purchase_byage_df["Purchase ID"].count()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [106]:
#Saving value for DataFrame
purchase_count = purchase_byage_df["Purchase ID"].count()

In [107]:
purchase_byage_df["Price"].sum()

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [108]:
#Saving value for DataFrame
total_purchase_value = purchase_byage_df["Price"].sum()

In [109]:
avg_pricebyage_df = total_purchase_value / purchase_count
avg_pricebyage_df

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [110]:
avg_perperson_df = total_purchase_value / by_age_df["Age"].count()
avg_perperson_df

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [ ]:
purchase_analysis_age_df = pd.DataFrame({
    "Purchase Count": purchase_count = purchase_byage_df["Purchase ID"].count(),
    "Average Purchase Price": avg_pricebyage_df,
    "Total Purchase Value": total_purchase_value,
    "Average Total per Person": avg_perperson_df
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame